<h1{color: #9DAF95;font-family: Helvetica; font-size:50px;}
<h1{margin:70px}
body {background-color: #FFEDE9;}
p{color: #9DAF95;font-family: Helvetica; font-size:14px;}
img{margin:70px;}
a{color: #000000; font-family: Helvetica; font-size: 14px;}
a:hover{color: #819579;}